@{
    ViewBag.Title = "О Программе";
}
<h2>@ViewBag.Title.</h2>


<p>Программа использует C# MVC, EF Code-First,MS SQL</p>
<p>Нужно прописать connectionStrings в Web.config</p>
<p>Из проблем: 1 Отображение и работа со связи многие ко многим из-за чего пришлось хранить авторов в Book, работает только в Details для одного объекта</p>
<p>2 Проблемы с датами, из-за чего не реализан пункт заданий 2 и отображение оставшихся книг в библиотеке</p>
<p>3 Поиск по нескольким авторам сделан не совсем корректно, включая и в 1e</p>
<p>4 Не хватило времени на Unit Test и подробные комментарии</p>
<p>5 Блок Edit и Details не полностью заполнены, показывают работу связи м к м для одной книги по id </p>
<p>В случае ещё каких-либо проблем или для связи в главном меню есть пункт "Автор"</p>




